/* image centering */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* EDIT MODE */

.HyperMD-header.HyperMD-header-1 {
    text-align: center;
}

/* PREVIEW MODE */

.markdown-preview-view h1 {
    text-align: center;
}